---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <h1 style="font-size: 2rem;">Nada aqui.</h1>
    </div>
</MainLayout>