---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/informatica/celular_samsung.jpg" titulo="Celular Samsung A05" descricao="128GB Preto sp 4G Tela 6.7 Câmera Dupla 50MP Selfie 8MP Dual Chip Android 14"></Card>
            <Card imagem="/informatica/k450.jpeg" titulo="Caixa Som Kimaster" descricao="-Tipo de bateria: Polímero de Lítio (2400mAh).
-Resposta de frequência: 85HZ- 15KHZ.
-Versão Bluetooth: 5.0
-Tempo de Recarga de Bateria: 4h.
-Dimensões embalagem: 20 x 7,6 x 7,4 cm.
-Dimensões caixa de som: 19,5 x 24,6 cm.
-Peso: 675 g.
-Entradas P2, Micro SD, Micro USB e USB
-Atende chamadas telefônicas, tem microfone embutido."></Card>
            <Card imagem="/informatica/tws350.jpeg" titulo="Fone Pingo" descricao="Bluetooth"></Card>
        </CardsLayout>
    </div>
</MainLayout>
