---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/informatica/celular_samsung.jpg" titulo="Celular Samsung" descricao="Esse é um celular"></Card>
            <Card imagem="/informatica/k450.jpg" titulo="Caixa Som Kimaster" descricao="Bluetooth"></Card>
        </CardsLayout>
    </div>
</MainLayout>
