---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/informatica/celular_samsung.jpg" titulo="Celular Samsung A05" descricao="128GB Preto sp 4G Tela 6.7 Câmera Dupla 50MP Selfie 8MP Dual Chip Android 14"></Card>
            <Card imagem="/informatica/k450.jpeg" titulo="Caixa Som K450 Kimaster" descricao="Tempo de Recarga de Bateria: 4h / Entradas P2, Micro SD, Micro USB e USB / Atende chamadas telefônicas, tem microfone embutido."></Card>
            <Card imagem="/informatica/tws350.jpeg" titulo="Fone TWS350 Kimaster" descricao="Autonomia da bateria do fone: Aproximadamente 7 horas / Autonomia da bateria do estojo: Aproximadamente 16 horas / 
            Tempo de carregamento: Aproximadamente 2.5 horas / Atende chamadas telefônicas / Microfone embutido / Botão controle play / pausa"></Card>
        </CardsLayout>
    </div>
</MainLayout>
