---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/celular/k400.jpg" titulo="Caixa som k400" descricao=""></Card>
            <Card imagem="/celular/celular_samsung.jpg" titulo="Celular Samsung A05" descricao="128GB Preto sp 4G Tela 6.7 Câmera Dupla 50MP Selfie 8MP Dual Chip Android 14"></Card>
            <Card imagem="/celular/k450.jpeg" titulo="Caixa Som K450 Kimaster" descricao="Tempo de Recarga de Bateria: 4h / Entradas P2, Micro SD, Micro USB e USB / Atende chamadas telefônicas, tem microfone embutido."></Card>
            <Card imagem="/celular/tws350.jpeg" titulo="Fone TWS350 Kimaster" descricao="Tempo de carregamento: Aproximadamente 2.5 horas / Atende chamadas telefônicas / Microfone embutido / Botão controle play / pausa"></Card>
            <Card imagem="/celular/k9.png" titulo="Fone K9 Kimaster" descricao="Conexão sem fio / Rádio Fm / Controle de volume / Entrada auxiliar P2 e entrada para cartão microSD / Microfone embutido."></Card>
        </CardsLayout>
    </div>
</MainLayout>
