---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
        <Card imagem="/grafica/xerox.jpeg" titulo="Cópias A3 / A4" descricao="Fazemos copias preto e branco e coloridas."></Card>
        <Card imagem="/grafica/impressao cor.jpeg" titulo="Impressão A3 / A4" descricao="Fazemos impressões preto e branco e coloridas, envie pelo zap."></Card>
        <Card imagem="/grafica/foto 3.4.png" titulo="Foto 3x4" descricao="Tire sua foto e imprima em 3x4, minimo seis fotos."></Card>
        <Card imagem="/grafica/impressao laser.jpeg" titulo="Impressão A3 / A4 LASER" descricao="Imprima a laser no formato A3 ou A4."></Card>
        <Card imagem="/grafica/impressao cor.jpeg" titulo="Impressão A3 / A4" descricao="Fazemos impressões preto e branco e coloridas, envie pelo zap."></Card>
        </CardsLayout>
    </div>
</MainLayout>
