---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/grafica/xerox.jpeg" titulo="Cópias A3 / A4" descricao="Fazemos copias preto e branco e coloridas"></Card>
        <Card imagem="/grafica/impressao cor.jpeg" titulo="Impressão A3 / A4" descricao="Fazemos copias preto e branco e coloridas"></Card>
        </CardsLayout>
    </div>
</MainLayout>
