---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
        <Card imagem="/informatica/gk706.png" titulo="Teclado Fortrek Spider" descricao="O Teclado Gamer Fortrek Spider GK706 possui design diferenciado e o acabamento fosco antiderrapante, desenvolvido para quem exigem desempenho e visual arrojado."></Card>
        <Card imagem="/produtos/deathadder.jpg" titulo="Mouse Razer Deathadder" descricao="R$ 299,00" />
        <Card imagem="/produtos/deathadder.jpg" titulo="Mouse Razer Deathadder" descricao="R$ 299,00" />
        <Card imagem="/produtos/deathadder.jpg" titulo="Mouse Razer Deathadder" descricao="R$ 299,00" />
        </CardsLayout>
    </div>
</MainLayout>
