---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
        <Card imagem="/informatica/auto.jpg" titulo="Autotransformador" descricao=""></Card>
        <Card imagem="/informatica/gk706.jpeg" titulo="Teclado Fortrek Spider" descricao="O Teclado Gamer Fortrek Spider GK706 possui acabamento fosco antiderrapante, desenvolvido para quem exigem desempenho e visual arrojado."></Card>
        <Card imagem="/informatica/deathadder.jpg" titulo="Mouse Razer Deathadder" descricao="DPI para os mais exigentes gamers"></Card>
        <Card imagem="/informatica/mk220.jpeg" titulo="Teclado S/Fio MK220" descricao="Alcance sem fio: 10 metros/Teclado numérico de 10 teclas/Controles de música/Mouse botões:3"></Card>
        <Card imagem="/informatica/fonte note.jpeg" titulo="Fonte Notebook" descricao="Todas as fontes de notebook."></Card>
        <Card imagem="/informatica/fonte atx.jpeg" titulo="Fonte Atx Computador" descricao="Variadas fontes Atx para computador"></Card>
        </CardsLayout>
    </div>
</MainLayout>