---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>

        </CardsLayout>
    </div>
</MainLayout>
