---
import MainLayout from "../layouts/MainLayout.astro"
import CardsLayout from "../layouts/CardsLayout.astro"
import Card from "../components/Card.astro"
---
<MainLayout>
    <div class="bg-gray-100">
        <CardsLayout>
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1,50" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 1299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 299,00" />
            <Card imagem="/produtos/papel.jpg" titulo="Mouse Razer papel" descricao="R$ 299,00" />
        </CardsLayout>
    </div>
</MainLayout>
