---
const Paginas = [
    {
        nome: "Home",
        diretorio: "/"
    },
    {
        nome: "Papelaria",
        diretorio: "/papelaria/"
    },
    {
        nome: "Papelaria1",
        diretorio: "/papelaria1/"
    },
    {
        nome: "Papelaria2",
        diretorio: "/papelaria2/"
    },
]
---
<!-- <nav>
    {Paginas.map((item) => (
        <a href={item.diretorio}>{item.nome}</a>
    ))}
</nav> -->
<nav class="bg-cyan-700 p-2">
    <div class="mx-auto flex justify-evenly">
      <div class="hidden sm:flex space-x-10">
        <div class="rounded p-2 shadow-lg">
            <a href="/" class="text-white hover:text-gray-400">Home</a>
        </div>

        <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
        <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>

 
        <a href="#services" class="text-white hover:text-gray-400">Services</a>
        <a href="#contact" class="text-white hover:text-gray-400">Contact</a>
      </div>
      <div class="sm:hidden">
        <button id="menu-btn" class="text-white focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
    <div id="menu" class="sm:hidden hidden">
      <a href="#home" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Home</a>
      <a href="#about" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">About</a>
      <a href="#services" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Services</a>
      <a href="#contact" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Contact</a>
    </div>
  </nav>


<script>
    const menuBtn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');
    
    menuBtn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  </script>
