---
const Paginas = [
    {
        nome: "Gráfica Rápida",
        diretorio: "/grafica/"
    },
    {
        nome: "Informática",
        diretorio: "/informatica/"
    },
    {
        nome: "Celulares",
        diretorio: "/celular/"
    },
    {
        nome: "Papelaria",
        diretorio: "/papelaria/"
    },
    {
      nome: "Home",
      diretorio: "/"
    }
]
---
<nav class="bg-cyan-700 p-2">
    <div class="mx-auto flex justify-evenly">
      <div class="hidden sm:flex space-x-10">
        {Paginas.map((item) => (<a href={item.diretorio} class="rounded-md px-3 py-1 text-md font-medium text-gray-100 hover:bg-cyan-500 hover:text-white">{item.nome}</a>))}
      </div>
      <div class="sm:hidden">
        <button id="menu-btn" class="text-white focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  <div id="menu" class="sm:hidden hidden">
    {Paginas.map((item) => (<a href={item.diretorio} class="block py-2 px-4 text-sm text-white hover:bg-cyan-500">{item.nome}</a>))}
  </div>
</nav>

<script>
    const menuBtn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');
    
    menuBtn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
</script>
